#{extends 'main.html' /}
#{set 'title'}${forum.name}#{/set}
<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="${play.configuration.getProperty('context', '')}/">Agora</a></li>
            <li><a href="@{Forums.index(section.id)}">${section.name}</a></li>
            <li class="active"><a href="@{Forums.show(section.id, forum.id)}">${forum.name}</a></li>
        </ol>  
    </div>
    <div class="row jumbotron">
        <h1>${forum.name} <small>in ${section.name}</small></h1>
    </div>
    #{list threads, as:'thread'}
    <div class="row">
        <div class="col-md-7">
            <h2>            
                #{if controllers.Application.activeUser.canEdit(forum)}
                <a href="#" class="btn-lg">
                    <span class="glyphicon glyphicon-pushpin"></span>
                </a>
                #{/if} 
                <a href="@{Threads.index(section.id, forum.id, thread.id)}">${thread.subject}</a>
            </h2>
        </div>
        <div class="col-md-1"><h3>${thread.getPostCount()}</h3> <small>Posts</small></div>
        <div class="col-md-2"><h3>by ${thread.createdBy.username}</h3><small>created ${thread.createdDim}</small></div>
        <div class="col-md-2"><h3>by ${thread.updatedBy.username}</h3><small>updated ${thread.updatedDim}</small></div>
    </div>
    #{/list}
    <div class="row">
        <ul class="pager">
            <li class="previous"><a href="#">&larr; Older</a></li>
            <li class="next"><a href="#">Newer &rarr;</a></li>
        </ul>
    </div>    
</div>