<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/main.css'}">
        #{if play.mode.name() == 'DEV'}
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap-theme.css'}">
        #{/if}
        #{else}
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap-theme.min.css'}">
        #{/else}
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <h3><a href="@{securesocial.SecureSocial.login()}">SecureSocial Module</a></h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span10 columns offset2">
                    #{doLayout /}
                </div>
            </div>
        </div>
        #{if play.mode.name() == 'DEV'}
        <script src="@{'/public/js/jquery-1.10.2.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{/if}
        #{else}
        <script src="@{'/public/js/jquery-1.10.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{/else} 
        #{get 'moreScripts' /}
    </body>
</html>
