#{extends 'main.html' /}
#{set title:'Agora' /}
<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li class="active"><a href="${play.configuration.getProperty('context', '')}/">Agora</a></li>
        </ol>  
    </div>
    #{list sections, as: 'section'}
    <div class="row jumbotron">
        <h1>${section.name} <small>Section</small></h1>
    </div>
    <div class="row">
        #{list section.forums, as: 'forum'}
        <div class="col-md-3">
            <div class="jumbotron">                
                <h2><a href="@{Forums.show(section.id, forum.id)}">${forum.name}</a></h2>
                <h2>${forum.getThreadCount()} <small>Threads</small></h2>
                <h2>${forum.getPostCount()} <small>Posts</small></h2>
                <h2>${forum.getAuthorCount()} <small>Authors</small></h2>
            </div>        
        </div>
        #{/list}
    </div>
    #{/list}
    #{footer /}
</div>
