<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/main.css'}">
        #{if play.mode.name() == 'DEV'}
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap-theme.css'}">
        #{/if}
        #{else}
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap-theme.min.css'}">
        #{/else}
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            #{if controllers.Application.activeUser}
            #{if controllers.Application.activeUser.isAdmin()}
            #{admin_toolbar user:controllers.Application.activeUser /}
            #{/if}
            #{else}
            #{user_toolbar user:controllers.Application.activeUser /}
            #{/else}
            #{/if}
            #{else}
            #{guest_toolbar /}
            #{/else}
        </div>
        #{doLayout /}
        #{if play.mode.name() == 'DEV'}
        <script src="@{'/public/js/jquery-1.10.2.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{/if}
        #{else}
        <script src="@{'/public/js/jquery-1.10.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{/else} 
        #{get 'moreScripts' /}
    </body>
</html>
